<module version="2.0">
  <meta>
    <identity>
      <uri>urn:org:netkernelroc:netkernel:xunit:assertions:doc</uri>
      <version>1.0.0</version>
    </identity>
    <info>
      <name>NetKernelROC / XUnit / Assertions / Documentation</name>
      <description>Add description</description>
      <icon>res:/org/netkernelroc/netkernel/xunit/assertions/images/icon.png</icon>
    </info>
  </meta>

  <system>
    <dynamic/>
  </system>

  <rootspace name="NetKernelROC / XUnit / Assertions / Documentation" public="true"
             uri="urn:org:netkernelroc:netkernel:xunit:assertions:doc">

    <fileset>
      <regex>res:/etc/system/(Books|Docs).xml</regex>
    </fileset>
    <fileset>
      <regex>res:/org/netkernelroc/netkernel/xunit/assertions/doc/.*</regex>
    </fileset>
    <fileset>
      <regex>res:/org/netkernelroc/netkernel/xunit/assertions/images/icon.png</regex>
      <rewrite>res:/resources/images/icon.png</rewrite>
    </fileset>
  </rootspace>

</module>
  