<module version="2.0">
  <meta>
    <identity>
      <uri>urn:org:netkernelroc:xunit:test</uri>
      <version>1.0.1</version>
    </identity>
    <info>
      <name>NetKernelROC / XUnit / Assertions / Test</name>
      <description>Add description</description>
      <icon>res:/org/netkernelroc/xunit/test/images/icon.png</icon>
    </info>
  </meta>

  <system>
    <dynamic/>
  </system>

  <rootspace name="NetKernelROC / XUnit / Assertions / Test" public="true" uri="urn:org:netkernelroc:xunit:test">

    <fileset>
      <regex>res:/etc/system/Tests.xml</regex>
    </fileset>
    <fileset>
      <regex>res:/resources/tests/testlist.xml</regex>
    </fileset>
    <fileset>
      <regex>res:/resources/.*</regex>
    </fileset>
    <import>
      <uri>urn:org:netkernelroc:xunit</uri>
    </import>
    <import>
      <private/>
      <uri>urn:org:netkernel:xml:core</uri>
    </import>
    <import>
      <uri>urn:org:netkernel:util:image</uri>
    </import>
    <import>
      <uri>urn:org:netkernel:client:http</uri>
    </import>

  </rootspace>

  <rootspace name="NetKernelROC / XUnit / Assertions / Test / Reflection" public="true" uri="urn:org:netkernelroc:xunit:test:reflection">


    <accessor>
      <grammar>
        <simple>res:/reflect/{header}/{value}</simple>
      </grammar>
      <class>org.netkernelroc.xunit.test.endpoint.ReflectHTTP</class>
    </accessor>

    <!-- Get us imported into the test fulcrum -->
    <literal type="xml" uri="res:/etc/system/SimpleDynamicImportHook.xml">
      <connection>
        <type>XUnitHTTPTestFulcrum</type>
      </connection>
    </literal>

    <import>
      <private/>
      <uri>urn:org:netkernel:xml:core</uri>
    </import>
    <import>
      <uri>urn:org:netkernel:util:image</uri>
    </import>

  </rootspace>


  <rootspace name="XUnit HTTP TestFulcrum" public="false" private-filter="false">
 		<endpoint>
 			<id>fulcrum.frontend.HTTPTransport</id>
 			<prototype>HTTPTransport</prototype>
 			<private/>
 		</endpoint>
 		<overlay>
 			<prototype>HTTPBridge</prototype>
 			<exceptionHandler>res:/introspect/exceptionhandler</exceptionHandler>
 			<config>
 				<rewrite>
 					<match>https?://[^/]*/([^?]*)(\?.*)?</match>
 					<to>res:/$1</to>
 				</rewrite>
 			</config>
 			<space name="Frontend Fulcrum HTTP Bridge Overlay">
 				<!--Import application modules here-->

 				<!--Dynamic Imports-->
 				<endpoint>
 					<prototype>SimpleImportDiscovery</prototype>
 					<grammar>active:SimpleImportDiscovery</grammar>
 					<type>XUnitHTTPTestFulcrum</type>
 				</endpoint>
 				<endpoint>
 					<prototype>DynamicImport</prototype>
 					<config>active:SimpleImportDiscovery</config>
 				</endpoint>
 				<import>
 					<uri>urn:org:netkernel:ext:layer1</uri>
 					<private/>
 				</import>
 				<!--Default Root -->
 				<mapper>
 					<config>
 						<endpoint>
 							<grammar>res:/</grammar>
 							<request>
 								<identifier>res:/defaultRoot.html</identifier>
 							</request>
 							<header name="mime">text/html</header>
 						</endpoint>
 					</config>
 					<space>
 						<fileset>
 							<regex>res:/defaultRoot.html</regex>
 						</fileset>
 					</space>
 				</mapper>
 				<import>
 					<uri>urn:org:netkernel:ext:system</uri>
 					<private/>
 				</import>
 			</space>
 		</overlay>
 		<fileset>
 			<private/>
 			<glob>etc/HTTPServerConfig.xml</glob>
 		</fileset>
 		<import>
 			<private/>
 			<uri>urn:org:netkernel:ext:system</uri>
 		</import>
 		<import>
 			<private/>
 			<uri>urn:org:netkernel:xml:core</uri>
 		</import>
 		<import>
 			<private/>
 			<uri>urn:org:netkernel:tpt:http</uri>
 		</import>
 		<import>
 			<private/>
 			<uri>urn:org:netkernel:mod:security</uri>
 		</import>
 		<import>
 			<private/>
 			<uri>urn:org:netkernel:nkse:style</uri>
 		</import>
 		<mapper>
 			<config>
 				<endpoint>
 					<request>
 						<identifier>meta:ExceptionStyler</identifier>
 					</request>
 				</endpoint>
 			</config>
 			<space>
 				<import>
 					<uri>urn:org:netkernel:ext:introspect</uri>
 				</import>
 			</space>
 		</mapper>
 	</rootspace>

</module>
